*.sch-bak
*.kicad_pcb-bak
*.gbr
*.drl
*.gbrjob
ToiletLock/ToiletLock-cache.lib
ToiletLock/fp-info-cache
# ToiletLock/sym-lib-table
ToiletLock/ToiletLock-cache.lib
*.dcm
ToiletLock/ToiletLock-rescue.lib
Toiletlock-V2/Toiletlock-V2-cache.lib
Toiletlock-V2/fp-info-cache
